/**
* Developer :   SongQian
* Time      :   2017/12/11
* email     :   onlylove: 1172559463@vip.qq.com
* Description:  默认皮肤样式表-布局样式
**/
html, body{
  padding:0;
  margin:0;
  height:100%;
  width:100%;
}
// @font-face {
// 	font-family: 'Gen Jyuu Gothic Normal';
// 	src : url('./fonts/GenJyuuGothic-Normal.ttf') format('truetype');
// }

// @font-face {
// 	font-family: 'Gen Jyuu Gothic P Normal';
// 	src : url('./fonts/GenJyuuGothic-P-Normal.ttf') format('truetype');
// }

// @font-face {
// 	font-family: 'Gen Jyuu Gothic LP Normal';
// 	src : url('./fonts/GenJyuuGothicL-P-Normal.ttf') format('truetype');
// }

@font-face {
	font-family: '思源黑体 Normal';
	src : url('./fonts/SourceHanSansSC-Normal.otf') format('opentype');
}

@font-face {
	font-family: '方正黑体简体';
	src : url('./fonts/FZ HTJW.ttf') format('truetype');
}

@font-face {
	font-family: 'Computed Number';
	src : url('./fonts/digifaw.ttf') format('truetype');
}

* {
    font-family:  '思源黑体 Normal', '方正黑体简体';
}

#app {
    // font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB",Arial,sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:#2c3e50;
    height:100%;
}