/**
* Developer     :   SongQian
* Time          :   2019-05-23
* eMail         :   onlylove1172559463@vip.qq.com
* Description   :   全局样式变量值
**/
$color : #00fafe;
$column-total : 24;
$column-width : 100% / $column-total;